  <!-- <div class="info">
    <span class="info-background">
      <!-- <select #themeSelect aria-placeholder="Tema" (change)="onChangeTheme($event)">
        <ng-container *ngFor="let item of themeList">
          <option value="{{item.fileName}}">{{item.name}}</option>
        </ng-container>
      </select> -->

    <!-- <div class = "tempo">Tempo para começar: {{timer}}</div><br>
    <label class="pontuacao">Pontuação: {{gamePontuation}}</label><br>
    <label class = "players">Players: {{players}}</label>
      <div *ngIf="isSingleplayer">Tempo para começar: {{timer}}</div>
      <label>Pontuação: {{gamePontuation}} </label>
      <label>Players: {{players}}</label>
      <button (click)="setGarbageOnGrid(1)">Testar lixo +1</button>
      <label>Resta {{eventsLeftForTrash}} para {{accumulatedTrash}} de lixo cair</label>
      <button *ngIf="isSingleplayer" (click)="isPaused = !isPaused">{{isPaused ? "Voltar" : "Pausar"}} Jogo</button>
      <label>Speed: {{this.gameTimer2}}</label>
      <!-- <form (ngSubmit)="authenticateUser()" [formGroup]="autenticateForm">
        <button type="submit">Test autenticate</button>
        <input id="nickname" type="text" formControlName="nickname">
      </form>
    </span>
  </div> -->
