  <div class="info">
    <span class="info-background">
    <label class="pontuacao">{{'gameover.score' | translate}}: {{game.gamePontuation}}</label><br>
    <label class = "players">{{'timer.players' | translate}}: {{matchVariablesService.alivePlayers.value}}/{{game.players}}</label><br>
    <!-- <button (click)="game.setGarbageOnGrid(1)">Testar lixo +1</button><br> -->
    <!-- <label>Resta {{game.eventsLeftForTrash}} para {{game.accumulatedTrash}} de lixo cair</label> -->
    <button *ngIf="game.isSingleplayer" (click)="game.isPaused = !game.isPaused">{{(game.isPaused ? "play-button" : "pause-button") | translate}} {{'game' | translate}}</button>
    <!-- <label>Speed: {{game.gameTimer2}}</label> -->
      <!-- <form (ngSubmit)="authenticateUser()" [formGroup]="autenticateForm">
        <button type="submit">Test autenticate</button>
        <input id="nickname" type="text" formControlName="nickname">
      </form>-->
    </span>
  </div>
