  <div class="info">
    <span class="info-background">
    <label class="pontuacao">Pontuação: {{game.gamePontuation}}</label><br>
    <label class = "players">Players: {{game.players}}</label>
    <button (click)="game.setGarbageOnGrid(1)">Testar lixo +1</button>
    <label>Resta {{game.eventsLeftForTrash}} para {{game.accumulatedTrash}} de lixo cair</label>
    <button *ngIf="game.isSingleplayer" (click)="game.isPaused = !game.isPaused">{{game.isPaused ? "Voltar" : "Pausar"}} Jogo</button>
    <label>Speed: {{game.gameTimer2}}</label>
      <!-- <form (ngSubmit)="authenticateUser()" [formGroup]="autenticateForm">
        <button type="submit">Test autenticate</button>
        <input id="nickname" type="text" formControlName="nickname">
      </form>-->
    </span>
  </div>
