.info{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  // color: white;
  z-index: 10;
  .info-background{
    background-color: gainsboro;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    display: block;
    width: fit-content;
    padding: 10px;
  }
}
