<h1>TetrisVerse team:</h1>

<ul>
  <li>Game Lead Developer, testing and Design: <a href="https://github.com/Camargod" target="_blank">Gabriel Silva de Camargo</a></li>
  <li>Screen development and arts: <a href="https://github.com/NandoPla" target="_blank">Fernando Fraga Plá</a></li>
  <li>Game art and documentation: <a href="mailto:augustok22010@gmail.com">Augusto Sousa Gomes</a></li>
  <li>History and concepts: <a href="mailto:giulian267@gmail.com">Giulia Neves Galvão de Oliveira</a></li>
</ul>

<h4>Projeto de Graduação de CST em Jogos Digitais na Fatec de São Caetano do Sul</h4>

<br>

<p>Sound by: Sound Effect from <a href="https://pixabay.com/sound-effects/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=6435">Pixabays</a></p>

<button class="back-btn" (click)="back()">{{'ui.back-button' | translate}}</button>
