<div class="card-hud">
  <div class="cards">
    <p class="hud-title">{{'cards.title' | translate}}</p>
    <div class="card" *ngFor="let card of cardsMock">
      <img [src]="'/assets/cards/'+ localstorage.getItem('language') + card.image"/>
      <div class="card-texts">
        <p class="card-title">{{card.name | translate}}</p>
        <p class="card-desc">{{card.description | translate}}</p>
      </div>
    </div>
  </div>
  <div class="cards-info">
    <p>{{'cards.remaining_rounds' | translate:{rounds:10 - lastMatch.lastMatch.rounds % 10} }}</p>
  </div>
</div>
