// .game-body
// {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100vw;
//     height: 100vh;
//     padding: 30px 0;
//     background-color: #b8b6b3;
//     .game-box
//     {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         flex: 1;
//         height: 100%;
//         border-style: solid;
//         background-color: white;
//         box-shadow: black 0 0 15px;
//         .game
//         {
//             flex: 1;
//         }
//         .score
//         {
//             flex: 1;
//         }
//     }
// }


canvas
{
    position: absolute;
}
.game-grid
{
    z-index: 3;
}
.game-box
{
    z-index: 2;
}
.piece-canvas
{
    z-index: 4;
}