.game{
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    .game-body
    {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        width: 100%;
        height: 100%;

        .game-box
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1;
            height: 100%;
            border-style: solid;
            background-color: white;
            box-shadow: black 0 0 15px;
            .game
            {
                flex: 1;
            }
            .score
            {
                flex: 1;
            }
        }
    }
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    // color: white;
    z-index: 10;
    .info-background{
      background-color: gainsboro;
      box-shadow: 0px 3px 6px black;
      border-radius: 6px;
      display: block;
      width: fit-content;
      padding: 10px;
    }
}

.game-canvas{
    position: absolute;
    //top: -140px;
    height: calc(100% - 20px);
}
.game-grid{
    z-index: 3;
}
.game-box{
    z-index: 2;
}
.piece-canvas{
    z-index: 4;
}

select{
    position: relative;
    z-index: 5;
}

:host{
    width: 100vw;
    height: 100vh;
    display: block;
}
