
<button class="back-btn" (click)="back()">{{'ui.back-button' | translate}}</button>
<div class="stats-display-flex">
<div class="cube">
    <div class="green-cube">
        <div class="top-green-cube"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
</div>

<div class="content">
    <div class="mainInfo">
      <h1>{{user?.nickname}}</h1>
      <span>{{user?.email}}</span>
      <div class="aboutMe">
        <h3>{{'stats.about-title' | translate}}</h3>
        {{'stats.about-text' | translate}}
      </div>
    </div>
    <div class="matchStats">
      <div class="backgroundText">{{'stats.about-matches' | translate}}</div>
      <canvas class="gameStats" #gameStats width="180" height="180"></canvas>
    </div>

    <div class="matchStats">
      <div class="backgroundText">{{'stats.about-functions' | translate}}</div>
      <canvas class="roleStats" #roleStats width="180" height="180"></canvas>
    </div>

    <div class="clearFix"></div>

    <div class="col">
      <div class="resizing">
        <canvas #champData></canvas>
      </div>
    </div>
    <div class="col middle">
      <h2>{{'stats.about-time' | translate}}</h2>
      <div class="resizing">
        <canvas #timeData></canvas>
      </div>
    </div>
    <div class="col">
      <h2>{{'stats.about-statistics' | translate}}</h2>
      <ul class="playerStats">
        <li><span>{{'stats.statistics-pieces' | translate}}</span> 1,476</li>
        <li><span>{{'stats.statistics-KDA' | translate}}</span> 8.45</li>
        <li><span>{{'stats.statistics-players-defeated' | translate}}</span> 27</li>
        <li><span>{{'stats.statistics-rows-destroyed' | translate}}</span> 144</li>
        <li><span>{{'stats.statistics-max-score' | translate}}</span> 980</li> 
      </ul>
    </div>
  </div>
</div>
