:host{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20vh;
    //background-color: rgba(255, 0, 0, 0.116);
    position: absolute;
    width: 35vw;
    height: 80vh;
    z-index: 6;
}
