<div class="game-body">
  <canvas width="800" height="1520" class="trash-canvas game-canvas" #trashcanvas></canvas>
  <canvas width="800" height="1520" class="debug-canvas game-canvas" #debugcanvas></canvas>
  <canvas width="800" height="1520" class="piece-canvas game-canvas" #piecescanvas></canvas>
  <canvas width="800" height="1520" class="piece-canvas game-canvas" #fallingpiecescanvas></canvas>
  <canvas width="1100" height="1520" class="game-grid game-canvas" #queuecanvas></canvas>
  <canvas width="800" height="1520" class="game-grid game-canvas" #gridcanvas></canvas>
  <canvas width="800" height="1520" class="interface-hud game-canvas" #interfaceHUD></canvas>
</div>

