<div>
    <div class="config-buttons">
        <p class="config-title">{{'config.title' | translate}}</p>
        <div class="line">
          <button class="config-button" id="language-btn">{{'config.language' | translate}}</button>
          <select #select aria-placeholder="Language" (change)="changeLanguage($event)">
            <ng-container *ngFor="let item of languages">
              <option value="{{item.code}}">{{item.label}}</option>
            </ng-container>
          </select>
        </div>
        <div class="line">
          <button class="config-button" id="control-btn">Sons</button>
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <div class="line">
          <button class="config-button" id="volume-btn">Efeitos</button>
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <button class="back-btn" (click)="back()">{{'ui.back-button' | translate}}</button>
    </div>
    <button class="back-btn" (click)="back()">{{'ui.back-button' | translate}}</button>
</div>
