/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-button{
  background-color: white;
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  font-size: 48px;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  &:hover{
    transform: scale(1.01);
    cursor: pointer;
  }
}
