<div class="menu">
  <ng-container *ngFor="let button of menuItems">
    <div class="menu-button" [style.background-color]="button?.backgroundColor" [style.background-image]="'url('+button.background + ')'" (click)="selectOption(button)">{{button.label | translate}}</div>
  </ng-container>
</div>

<div class="overlay">
  <div>
    <fa-icon [tooltip]="'menu.about' | translate" (click)="openAbout()" [icon]="faCircleInfo"></fa-icon>
    <fa-icon [tooltip]="'menu.credits' | translate" (click)="openCredits()" [icon]="faSquareList"></fa-icon>
  </div>
  <!-- {{'menu.welcome' | translate: {user: user?.nickname} }} -->
</div>


